apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "api_key": "cosmo_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
      "api_url": "https://cosmo-cp.wundergraph.com"
    }
